@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

body {
  background: #f2f2f2;
}

main{
  width: 1200px;
  height: 600px;
  margin: auto;
  margin-left: -40px;
  display: flex;
  flex-flow: row wrap;
  background-color: black;

}

.cartao{
  flex-grow: 1;
  min-height: 250px;
  min-width: 200px ;
  background-color: white;
  margin: 15px;
  background-image: url('img/star\ wars4.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;

}

.container  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 1200px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: 'Merriweather', serif;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}

.flap {
  width: 100%;
  height: 100%;
}

.flap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("img/star\ wars.png") white;
  background-position: 00px;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url("img/star\ wars.png") white;
  background-position: -600px;
  background-repeat: no-repeat;
  transition: 1s;
}

.container:hover .flap::after {
  transform: translatex(600px);
}

.container:hover .flap::before{
  transform: translatex(-600px);
}